<table>
	<tr>
		<th>Username</th>
		<%v=@users.username%>
		<td><%= f.text_field(:username,value:v) %></td>
	</tr>
	<tr>
		<th>Name</th>
		<%v=@doctors.name%>
		<td><%= f.text_field(:name,value:v) %></td>
	</tr>
	<tr>
		<th>Gender</th>
		<%v=@doctors.gender%>
		<td><%= f.select(:gender,['M','F'],value:v) %></td>
	</tr>
	<tr>
		<th>Date of Birth</th>
		<%v=@doctors.date_of_birth%>
		<td><%= f.datetime_select(:date_of_birth,value:v) %></td>
	</tr>
	<tr>
		<th>Address</th>
		<%v=@doctors.address%>
		<td><%= f.text_area(:address,value:v) %></td>
	</tr>
	<tr>
		<th>Qualification</th>
		<%v=@doctors.qualification%>
		<td><%= f.text_field(:qualification,value:v) %></td>
	</tr>
	<tr>
		<th>Education</th>
		<%v=@doctors.education%>
		<td><%= f.text_field(:education,value:v) %></td>
	</tr>
	<tr>
		<th>Specialised Fields</th>
		<%v=@doctors.specialised_fields%>
		<td><%= f.text_field(:specialised_fields,value:v) %></td>
	</tr>
	<tr>
		<th>Experience Years</th>
		<%v=@doctors.experience_years%>
		<td><%= f.text_field(:experience_years,value:v) %></td>
	</tr>
	<tr>
		<th>Salary</th>
		<%v=@doctors.salary%>
		<td><%= f.text_field(:salary,value:v) %></td>
	</tr>
	<tr>
		<th>City</th>
		<%v=@doctors.country%>
		<td><%= f.text_field(:country,value:v) %></td>
	</tr>
	<tr>
		<th>Contact Number</th>
		<%v=@doctors.contact_number%>
		<td><%= f.text_field(:contact_number,value:v) %></td>
	</tr>
</table>
