<table>
	<tr>
		<th>Prognosis</th>
		<td><%= f.text_area :prognosis,placeholder:"Prognosis" %></td>
	</tr>
	<tr>
		<th>Problem</th>
		<td><%= f.text_area(:problem) %></td>
	</tr>
	<%=f.fields_for :medicines do |m|%>
	<%= render 'medicine_fields', :f => m%>
	<%end%>
	<p><%= link_to_add_fields "Add Medicine", f, :medicines %></p>
</table>
