<table>
	<tr>
		<th>Diagnostic Test</th>
		<td><%= f.text_field(:diagnostictest) %></td>
	</tr>
	<tr>
		<th>Problem</th>
		<td><%= f.text_area(:problem) %></td>
	</tr>
	<tr>
		<th>Prognosis</th>
		<td><%= f.text_area(:prognosis) %></td>
	</tr>
	<tr>
		<th></th>
		<td><%= #f.text_field(:drugs) 
		%>
		<textarea style="width: 300%" name="prognosis" placeholder="Medicines"></textarea>
		
		</td>
	</tr>

	<tr>
		<th>Diagnostic Result</th>
		<td><%= f.text_field(:diagnostictest_result) %></td>
	</tr>
	<tr>
		<th>Remark</th>
		<td><%= f.text_area(:remark) %></td>
	</tr>
</table>
