<% @page_slug = "patient"%>
<%= link_to("Favourite doctors", {:action => 'favourite_doctor_list'}, :class => "nav nav-pills") %>
<br/>
<button type="button" class="btn btn-primary">Favourites Section</button>
<div>
	<% if !(@fav.empty?) %>
		<table class="table table-hover">
			<thead>
				<th>Username</th>
				<th>Name</th>
				<th>Contact Number</th>
				<th>Status</th>
				<th>Action</th>
				<th>Details</th>
			</thead>
				<% @fav.each do |fav| %>
				<tr>
					<% doctor=Doctor.find(fav.doctor_id) %>
					<% user= doctor.users %>
					<% if !(user.empty?) %>
						<% user=user.first %>
						<td><%= user.username%></td>
					<% end %>
					<td><%= doctor.name %></td>
					<td><%= doctor.contact_number%></td>
					<% x=Appointment.where(doctor_id: doctor.id, patient_id: @patient.id) %>
					<% if x.empty? %>
						<td>---</td>
						<td><%= link_to("Request", {:action => 'request_appointment', :docid => user.id}, :class => "back-link") %></td>
					<% else %>
						<% x=x.last %>
						
						<% if x.status == 'pending' || x.status == 'confirm'%>
						<td><%= User.status(x.status)%> to be on  <br/><%=x.dateit.to_formatted_s(:long)%></td>
						<% end %>
						<% if x.status=='served' || x.status=='cancel'%>
							<td>---</td>
							<td><%= link_to("Request", {:action => 'request_appointment', :docid => user.id}, :class => "back-link") %></td>
						<% elsif x.status =='pending' %>
							<% temp=x.id%>
							<td><%= link_to("Cancel", {:action => 'action_appointment_doctor', id1: "cancel", app_id:temp, callit:"appointment_patient_favourite"}, :class => "btn btn-danger") %></td>
						<% else %>
							<td>---</td>
						<% end %>
					<% end %>
					<td><%= link_to("Show", {:action => 'show_doctor', :id => user.id}, :class => "btn btn-success") %></td>
				</tr>
				<% end %>
		</table>
	<% else %>
		<h2>No records yet</h2>
	<% end %>
</div>
<button type="button" class="btn btn-primary">All Doctors</button>
<div>
	<% if !(@doctors.empty?) %>
		<table class="table table-hover">
			<thead>
				<th>Username</th>
				<th>Name</th>
				<th>Contact Number</th>
				<th>Status</th>
				<th>Action</th>
				<th>Details</th>
			</thead>
			
				<% @doctors.each do |doctor| %>
				<tr>
					<% user= doctor.users %>
					<% if !(user.empty?) %>
						<% user=user.first %>
						<td><%= user.username%></td>
					<% end %>
					<td><%= doctor.name %></td>
					<td><%= doctor.contact_number%></td>
					<% x=Appointment.where(doctor_id: doctor.id, patient_id: @patient.id) %>
					<% if x.empty? %>
						<td>---</td>
						<td><%= link_to("Request", {:action => 'request_appointment', :docid => user.id}, :class => "back-link") %></td>	
					<% else %>
						<% x=x.last %>
						<% if x.status == 'pending' || x.status == 'confirm'%>
						<td><%= User.status(x.status)%> to be on  <br/><%=x.dateit.to_formatted_s(:long)%></td>
						<% end %>
						<% if x.status=='served' || x.status=='cancel' %>
							<td>---</td>
							<td><%= link_to("Request", {:action => 'request_appointment', :docid => user.id}, :class => "back-link") %></td>
						<% elsif x.status =='pending' %>
							<% temp=x.id%>
							<td><%= link_to("Cancel", {:action => 'action_appointment_doctor', id1: "cancel", app_id:temp, callit:"appointment_patient_favourite"}, :class => "btn btn-danger") %></td>
						<% else %>
							<td>---</td>
						<% end %>
					<% end %>
					<td><%= link_to("Show", {:action => 'show_doctor', :id => user.id}, :class => "btn btn-success") %></td>
				</tr>
				<% end %>
		</table>
	<% else %>
		<h2>No records yet</h2>
	<% end %>
</div>
