<br/>
<%= link_to("Create Assistant", {:action => 'new_assistant'}, :class => "btn btn-primary") %>
<br/><br/>
<div>
	<% if !(@assistants.empty?) %>
		<table class="table table-hover">
			<thead>
				<th>Username</th>
				<th>Name</th>
				<th>Email</th>
				<th>Action</th>
			</thead>
			
				<% @assistants.each do |assistant| %>
				<tr>
					<% user=assistant.users.first %>
					<td><%= user.username%></td>
					<td><%= assistant.name %></td>
					<td><%= assistant.email %></td>
					<td><%= link_to("Show", {:action => 'show_assistant', :id => user.id}, :class => "btn btn-success	") %></td>
					<% if @role.name == 'admin'%>
						<td><%= link_to("Edit", {:action => 'edit_assistant', :id => user.id}, :class => "btn btn-warning") %></td>
						<td><%= link_to("Delete", {:action => 'delete_assistant', :id => user.id }, :class => "btn btn-danger") %></td>
					<% end %>
				</tr>
				<% end %>
		</table>
	<% else %>
		<h2>No records yet</h2>
	<% end %>
</div>