<br>
<%= link_to("Create Patient", {:action => 'new_patient'}, :class => "btn btn-primary") %>
<br>
<div>
	<% if !(@patients.empty?) %>
		<table class="table table-hover">
			<thead>
				<th>Username</th>
				<th>Name</th>
				<th>Contact Number</th>
				<th>Action</th>
			</thead>
				<% @patients.each do |patient| %>
				<tr>
					<% user = patient.users.first %>
					<td><%= user.username %></td>
					<td><%= patient.name %></td>
					<td><%= patient.contact_number %></td>
					<td><%= link_to("Show", {:action => 'show_patient', :id => user.id}, :class => "btn btn-success") %></td>
					<% if @role.name == 'admin'%>
						<td><%= link_to("Edit", {:action => 'edit_patient', :id => user.id}, :class => "btn btn-warning") %></td>
						<td><%= link_to("Delete", {:action => 'delete_patient', :id => user.id }, :class => "btn btn-danger") %></td>
					<% end %>
				</tr>
				<% end %>
		</table>
	<% else %>
		<h2>No records yet</h2>
	<% end %>
</div>