<h2>Prescription</h2>
<%=flash[:response]%>
<%= link_to("<<Back to Menu", {:controller => 'access', :action => 'menu'}, :class => "back-link") %>
<div id="name">
  <%= form_for(@prescription, :url => {:action => 'prescription_form_doctor', :id => @id}) do |f| %>
  	<%= render(:partial => 'prescription', :locals => {:f => f}) %>
  	<div class="form-buttons">
  		<%= submit_tag("Create Prescription")%>
  	</div>
  <% end %>
</div>
