<%= link_to("<<Back to Menu", {:controller => 'access', :action => 'menu'}, :class => "back-link") %>
<%=flash[:response]%>
<h2>Prescription</h2>
<div id="name">
  <%= form_for(@prescription, :url => {:action => 'prescription_form_doctor', :id => @id}) do |f| %>
  	<%= render(:partial => 'prescription', :locals => {:f => f}) %>
  	<div class="form-buttons">
  		<%= submit_tag("Done",class:"btn btn-default")%>
  	</div>
  <% end %>
</div>
<div>
	<h4>Earlier Prescriptions</h4>
	<table>
		<thead>
			<th>Created At</th>
			<th>Action</th>
		</thead>
		<% @prescript.each do |pres| %>
			<tr>
				<td><%= pres.created_at %></td>
				<td><%= link_to("Show Prescription", {:action => 'show_prescription', :id => pres.appointment_id}, :class => 'btn btn-success')%></td>
			</tr>
		<% end %>
	</table>
</div>


