<%= form_tag({:action => 'search_perform_function'}) do %>
	<table>
		<tr>
		<td><%= label_tag(:Attribute) %></td>
		<td><%= select_tag(:name, options_for_select([['name', 'name'],
														['qualification', 'qualification'],
														['education', 'education'],
														['specialised_fields', 'specialised_fields'],
														['salary', 'salary']])) %></td>>
		<th><%= label_tag(:query) %></th>
		<th><%= text_field_tag(:query)%></th>
	</table>
	<%= submit_tag("Find Doctor")%>
<% end %>
<% if @doctors != nil %>
		<table>
			<thead>
				<th>Username</th>
				<th>Name</th>
				<th>Gender</th>
				<th>Date_of_birth</th>
				<th>Address</th>
				<th>Qualification</th>
				<th>Status</th>
			</thead>
			
				<% @doctors.each do |doc| %>
				<tr>
					<% doctor=Doctor.find(doc['id']) %>
					<% user= doctor.users %>
					<% if !(user.empty?) %>
						<% user=user.first %>
						<td><%= user.username%></td>
					<% end %>
					<td><%= doctor.name %></td>
					<td><%= doctor.gender %></td>
					<td><%= doctor.date_of_birth %></td>
					<td><%= doctor.address %></td>
					<td><%= doctor.qualification %></td>
					<td><%= doctor.id %></td>
					<% out = Favourite.where(:doctor_id => doctor.id, :patient_id => @patient.id) %>
					<% if out.empty? %>
						<td><%= link_to("Add to Favourites", {:action => 'favourite_action', :id => 1, :id1 => doctor.id, :id2 => @patient.id}, :class => "back-link") %></td>
					<% else %>
						<td><%= link_to("Remove from Favourites", {:action => 'favourite_action', :id => 2, :id1 => doctor.id, :id2 => @patient.id}, :class => "back-link") %></td>
					<% end %>
				</tr>
				<% end %>
		</table>
	<% else %>
		<h2>No records yet</h2>
	<% end %>

