<%= form_tag({:action => 'create_doctor'}) do %>
	<table>
		<tr>
		<td><%= label_tag(:Attribute) %></td>
		<td><%= select_tag(:name, options_for_select([['Name', 'Name'],
														['qualification', 'qualification'],
														['education', 'education'],
														['specialised_fields', 'specialised_fields'],
														['salary', 'salary']])) %></td>>
		
		<th><%= label_tag(:query) %></th>
		<th><%= text_field_tag(:query)%></th>
	</table>
	<%= submit_tag("Create Doctor")%>
<% end %>