<%= link_to("<<BackToList", {:action => 'list_assistant'}, :class => "back-link") %>
<p>Username: <%= @user.username %></p>
<p>Name: <%= @assistant.name %></p>
<p>Gender: <%= @assistant.gender %></p>
<p>Date_of_birth: <%= @assistant.date_of_birth %></p>
<p>Address: <%= @assistant.permanent_address %></p>
<p>Email: <%= @assistant.email %></p>
<p>Education: <%= @assistant.education %></p>
<p>Biodata: <%= @assistant.biodata %></p>
<p>Salary: <%= @assistant.salary %></p>