<%= link_to("<<BackToList", {:action => 'list_patient'}, :class => "back-link") %>
<p>Username: <%= @user.username %></p>
<p>Name: <%= @patient.name %></p>
<p>Gender: <%= @patient.gender %></p>
<p>Age: <%= @patient.age %></p>
<p>Address: <%= @patient.address %></p>
<p>Contact Number: <%= @patient.contact_number %></p>