<p>Appointment Id: <%= @prescription.appointment_id %> </p>
<p>Prognosis: <%= @prescription.prognosis %></p>
<p>Medicines:</p> <% @prescription.medicines.each do |t|%>
			<%=t.name%>
			<%end%>
<p>Diagnostic Result: <%= @prescription.diagnostictest_result%></p>
<p>Remark: <%= @prescription.remarks %></p>
