<p>Appointment Id: <%= @prescription.appointment_id %> </p>
<p>Diagnostic Test: <%= @prescription.diagnostictest %></p>
<p>Drugs Specified: <%= @prescription.drugs%></p>
<p>Diagnostic Result: <%= @prescription.diagnostictest_result%></p>
<p>Remark: <%= @prescription.remarks %></p>
