<style>
	.typo{display:inline;}
</style>
<br/><br/>
<h4 class="typo"><b>Doctor Name: </b></h4>
<%= @doctor.name %>
<br />
<br/>
<h4 class="typo"><b>Patient Name:</h4></b> <%= @patient.name %>
<br />
<h4 class="typo"><b>Patient Age:</h4></b> <%= @patient.age%>
<br /><br />

<h4 class="typo"><b>Prognosis: </b></h4> <%= @prescription.prognosis %></p>
<h4 class="typo"><b>Medicines:</b></h4>
<% if @medicine.empty?%>
	<p>No medicines to be prescribed</p>
<% else %>
	<table class="table table-hover">
		<thead>
			<th>Name</th>
			<th>Sig Code</th>
			<th>Quantity</th>
		</thead>
		<% @medicine.each do |med|%>
			<tr>
				<td><%=med.name%></td>
				<td><%=med.sigcode%></td>
				<td><%=med.quantity%></td>
			</tr>
		<% end %>
	</table>
<% end %>
<h4><b>Diagnostic Tests:</b></h4>
<% if @diagnostic.empty?%>
	<p>No diagnostics specified</p>
<% else %>
	<table class="table table-hover">
		<thead>
			<th>Test</th>
			<th>Comment</th>	
		</thead>
		<% @diagnostic.each do |diag|%>
			<tr>
				<td><%= diag.name %></td>
				<td><%= diag.comments%>
			</tr>
		<% end %>
	</table>
<% end %>
<br />
<h4><b>Remark:</b></h4> 
<p><%= @prescription.remarks %></p>
<br/><br/><br/>
<div class="pull-right">
<h4 class="typo">Contact Number:</h4> <%= @doctor.contact_number%>
</div>
