<img src="/assets/presban.png" media="print" style="float:right"/><%if params[:type]%>
	<%@pdfpage=1%>
	<%end%>

<style>
	.typo{display:inline;}
</style>
<h3>Green Software</h3>
<br/><br/>
<h4 class="typo"><b>Doctor Name: </b></h4>
<%= @doctor.name %><hr />

<h4 class="typo"><b>Patient Name:</h4></b> <%= @patient.name %>
  <b>, Age:</b> <%= @patient.age%>
<hr />

<h4 class="typo"><b>Prognosis: </b></h4> <%= @prescription.prognosis %></p>
<h4 class="typo"><b>Medicines:</b></h4>
<% if @medicine.empty?%>
	<p>No medicines to be prescribed</p>
<% else %>
	<table width='100%' style="text-align:center" border=2>
		<thead style="text-align:center">
			<th style="text-align:center">Name</th>
			<th style="text-align:center">Sig Code</th>
			<th style="text-align:center">Quantity</th>
		</thead>
		<% @medicine.each do |med|%>
			<tr>
				<td style="text-align:center"><%=med.name%></td>
				<td style="text-align:center"><%=med.sigcode%></td>
				<td style="text-align:center"><%=med.quantity%></td>
			</tr>
		<% end %>
	</table>
<% end %>
<h4><b>Diagnostic Tests:</b></h4>
<% if @diagnostic.empty?%>
	<p>No diagnostics specified</p>
<% else %>
	<table width='100%' style="text-align:center" border=2>
		<thead>
			<th style="text-align:center">Test</th>
			<th style="text-align:center">Comment</th>	
		</thead>
		<% @diagnostic.each do |diag|%>
			<tr>
				<td style="text-align:center"><%= diag.name %></td>
				<td style="text-align:center"><%= diag.comments%>
			</tr>
		<% end %>
	</table>
<% end %>
<br />
<h4><b>Remark:</b></h4> 
<p><%= @prescription.remarks %></p>
<br/><br/><br/>
<div style="float:right">
<h4 class="typo">Contact Number:</h4> <%= @doctor.contact_number%>
</div>
<%if params[:type].nil?%>
<%=link_to "Generate Pdf","show_prescription.pdf?id="+params[:id]+"&type=pdf"%>
<%else%>
_____________________<br/>
Signature
<%end%>
