<br>
<% if flash[:message] %>
	<%#= flash[:message]%>
	<% if flash[:message]=='failure'%>
	<div class= "alert alert-danger">
		Invalid Password
	</div>
	<% elsif flash[:message]=="failure_password"%>
	<div class="alert alert-danger">
		Passwords do not match
	</div>
	<%else%>
	<div class="alert alert-success">
		Password Changed Successfully
	</div>
	<% end %>
<% end %>
<div id="name">
  <h2>Change Password</h2>
  <%= form_for(:passwordit, :url => {:controller => 'users', :action => 'change_password_action'}) do |f| %>
  	<table>
	<tr>
		<th>Old Password</th>
		<td><%= f.password_field(:old_password) %></td>
	</tr>
	<tr>
		<th>New Password</th>
		<td><%= f.password_field(:new_password) %></td>
	</tr>
	<tr>
		<th>Retype Password</th>
		<td><%= f.password_field(:new_password_confirmation) %></td>
	</tr>
	</table>
  	<div>
  		<%= submit_tag("Change Password")%>
  	</div>
  <% end %>
</div>

