<%@page_slug='login'%>
<%@page_lead="Inspiring Green Solutions"%>
<!-- Custom styles for this template -->
<div class="container">
<% @page_title="Green Software"%>
<%= flash[:notice] %>
<!--

<form class="form-signin">
<input type="text" class="form-control" placeholder="Email address" required autofocus>
<input type="password" class="form-control" placeholder="Password" required>
<label class="checkbox">
<input type="checkbox" value="remember-me"> Remember me
</label>
<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
-->
<h2 class="form-signin-heading">Please sign in</h2>
<%= form_tag({:action => 'attempt_login'},class:"form-signin") do%>
<table>
<tr>
<td><%=label_tag(:name)%></td>
<td><%=text_field_tag 'name', nil,placeholder:'Enter your Name',class:'form-control',required:'',autofocus:''%></td>
</tr>
<tr>
<td><%= label_tag(:password) %></td>
<td><%= password_field_tag(:password,nil,placeholder:'Password',class:'form-control',required:'',autofocus:'')%></td>
</tr>
<tr>
<td>&nbsp;</td>
<td><%= submit_tag("Log in",class: "btn btn-lg btn-primary btn-block")%></td>
</tr>
</table>
<% end %>
</div>
