<%if session[:user_id]%>
	<%a=User.find(session[:user_id])%>
	<%find=a.roles.first.name%>
	<% if find=="doctor" %>
		<%@page_slug="doc"%>
	<%elsif find=="patient"%>
		<%@page_slug="patient"%>
	<%elsif find=='admin'%>
		<%@page_slug='admin'%>
	<%elsif find=='assistant'%>
		<%@page_slug='assistant'%>
	<%end%>
<%end%>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Rupinder Singh Khokhar">

<title>
    <%=@page_title %>
</title>
<!-- Bootstrap core CSS -->
<link href="/assets/bootstrap.css" rel="stylesheet"> 
<link href="/assets/bootstrap-datetimepicker.min.css" rel="stylesheet">

<!-- Documentation extras -->
<!-- temporary js-->

<!--css-->
<link href="/assets/docs.css" rel="stylesheet" media = "all">
<link href="/assets/pygments-manni.css" rel="stylesheet" media = "all">
<!--custom styles-->
<%if @page_slug=='login'%>
<%end%>
<%= csrf_meta_tags %>
<%= javascript_include_tag "jquery", "data-turbolinks-track" => true %>
<%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%#= stylesheet_link_tag     "application", media: "all", "data-turbolinks-track" => true%>

<%= stylesheet_link_tag "assets/application", :media => "all" %>


<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<% if @favicons%>
<%=image_tag('ico.png',:size=>'144x144')%>
<%=image_tag('favicon.png')%>
<%end%>
