<!DOCTYPE html>
<html lang="en">
  <head>
    <%=render :partial=> 'layouts/header' %>
  </head>
  <body>
    <a class="sr-only" href="#content">Skip to main content</a>

    <!-- Docs master nav -->
    <%=render :partial=> 'layouts/navmain' %>
    <!-- Docs page layout -->
    <div class="bs-header" id="content">
      <div class="container">
        <h1><%=@page_title %></h1>
        <p><%=@page_lead %></p>
        <%#=render :partial=> 'layouts/ads' %>
	
      </div>
    </div>

    <!-- Callout for the old docs link -->
    <%=render :partial=> 'layouts/oldbsdocs' %>

    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">
              <% if @page_slug == "admin" %>
                <%=render :partial=> 'layouts/navadmin' %>
              <% elsif @page_slug == "doc" %>
                <%=render :partial=> 'layouts/navdoc' %>
              <% elsif @page_slug == "patient" %>
                <%=render :partial=> 'layouts/navpatient' %>
              <% elsif @page_slug == "ass" %>
                <%=render :partial=> 'layouts/navass'%>
              <% elsif @page_slug == "about" %>
                <%=render :partial=> 'layouts/navabout' %>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-md-9" role="main">
          <%=yield %>
        </div>
      </div>

    </div>

    <!-- Footer
    ================================================== -->
    <footer class="bs-footer" role="contentinfo">
      <div class="container">
        <%=render :partial=> 'layouts/socialbuttons' %>

        <ul class="footer-links">
		www.greensoftware.in
        </ul>
      </div>
    </footer>

    <!-- JS and analytics only. -->
    <%=render :partial=> 'layouts/footer' %>

  </body>
</html>
